# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before launching pyinstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.toml
.cache
.pytest_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.border
*.cover
*.py,cover

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Flash and Flask templates
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#1173, pipenv creates a lockfile
#   which should be tracked. But if you wish to exclude it:
#Pipfile.lock

# poetry
#   According to poetry docs, the lockfile should be tracked.
#poetry.lock

# pdm
#   According to pdm docs, the lockfile should be tracked.
#pdm.lock

# PEP 582 podm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# strict-modules type checker
.strict-modules-cache/

# Visual Studio Code
.vscode/

# JetBrains (PyCharm, WebStorm, etc.)
.idea/
